.vs/
Debug/
Release/
x64/
x86/
ipch/

*.user
*.suo
*.VC.db
*.VC.opendb

*.exe
*.obj
*.ilk
*.pdb
_pycache_/
*.pyc
models/convnext_fmnist_weights.pth
models/convnext_mnist_weights.pth
converted_weights/convnext_mnist_posit16_1.npy